parameters:
  level: 9
  paths:
    - _config.php
    - src
    - tests
  excludePaths:
    - ecs.php
    - rector.php
  stubFiles:
    - stubs/Psr/Container/ContainerExceptionInterface.stub
    - stubs/Psr/Container/ContainerInterface.stub
    - stubs/Psr/Container/NotFoundExceptionInterface.stub
    - stubs/SilverStripe/Core/Injector/Injector.stub
  ignoreErrors:
    -
      messages:
        # Ignore configuration properties
        - '#Static property .* is never read, only written#'
        # Prefer dynamic calls in PHPUnit
        - '#Dynamic call to static method PHPUnit\\Framework\\#'
        - '#Dynamic call to static method SilverStripe\\Dev\\FunctionalTest#'
        - '#Dynamic call to static method SilverStripe\\Dev\\SapphireTest#'
      reportUnmatched: false
    -
      message: "#^Parameter \\#1 \\$member of static method SilverStripe\\\\Security\\\\Permission\\:\\:checkMember\\(\\) expects int\\|SilverStripe\\\\Security\\\\Member, SilverStripe\\\\Security\\\\Member\\|null given\\.$#"
      count: 4
      path: src/Model/Announcement.php

    -
      message: "#^Return type \\(bool\\|int\\) of method DNADesign\\\\BrowserUpdate\\\\Model\\\\Announcement\\:\\:canCreate\\(\\) should be covariant with return type \\(bool\\) of method SilverStripe\\\\ORM\\\\DataObject\\:\\:canCreate\\(\\)$#"
      count: 1
      path: src/Model/Announcement.php

    -
      message: "#^Return type \\(bool\\|int\\) of method DNADesign\\\\BrowserUpdate\\\\Model\\\\Announcement\\:\\:canDelete\\(\\) should be covariant with return type \\(bool\\) of method SilverStripe\\\\ORM\\\\DataObject\\:\\:canDelete\\(\\)$#"
      count: 1
      path: src/Model/Announcement.php

    -
      message: "#^Return type \\(bool\\|int\\) of method DNADesign\\\\BrowserUpdate\\\\Model\\\\Announcement\\:\\:canEdit\\(\\) should be covariant with return type \\(bool\\) of method SilverStripe\\\\ORM\\\\DataObject\\:\\:canEdit\\(\\)$#"
      count: 1
      path: src/Model/Announcement.php

    -
      message: "#^Return type \\(bool\\|int\\) of method DNADesign\\\\BrowserUpdate\\\\Model\\\\Announcement\\:\\:canView\\(\\) should be covariant with return type \\(bool\\) of method SilverStripe\\\\ORM\\\\DataObject\\:\\:canView\\(\\)$#"
      count: 1
      path: src/Model/Announcement.php

    -
      message: "#^Access to an undefined property DNADesign\\\\BrowserUpdate\\\\Extension\\\\SiteConfigExtension\\:\\:\\$BrowserAnnouncementID\\.$#"
      count: 1
      path: tests/php/View/TemplateProviderTest.php
